.increment-btn {
  color: #54AE60;
  font-size: 24px;
}

.decrement-btn {
  color: #AF2419;
  font-size: 24px;
}

#budget {
  width: 160px;
}

#Location {
  width: 150px;
  background: #54c454;
  border: 0;
  color: white;
  outline: 0;
  font-size: large;
}

option {
  color: black;
}